In [2]:
"Hello World"

'Hello World'

In [14]:
import os
import sqlite3

In [32]:
os.remove("escola.db")

PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'escola.db'

In [15]:
##Cria uma conexão com o pacote sqlite 
##Se o db não for encontrado ele cria o banco de dados

conn = sqlite3.connect("escola.db")

In [16]:
type(conn)

sqlite3.Connection

In [17]:
cur = conn.cursor()

In [18]:
type(cur)

sqlite3.Cursor

In [24]:
sql_create ='create table cursos '\
            '(id integer primary key, titulo varchar(100), categoria varchar(140))'

In [25]:
cur.execute(sql_create)

In [26]:
sql_insert = 'insert into cursos values (?,?,?)'

In [33]:
recset =[(2000, 'Ciência de dados', 'Data Science'),
         (2001, 'Big Data Fundamentos', 'Big Data'),
         (2002, 'Python Fundamentos','Análise de Dados')]

In [34]:
for rec in recset:
    cur.execute(sql_insert, rec)

In [35]:
conn.commit()

In [36]:
sql_select = 'select * from cursos'

In [38]:
cur.execute(sql_select)
dados = cur.fetchall()

In [41]:
for linha in dados:
    print("Curso ID %d , Título: %s , Categoria: %s \n" % linha)

Curso ID 1000 , Título: Ciência de dados , Categoria: Data Science

Curso ID 1001 , Título: Big Data Fundamentos , Categoria: Big Data

Curso ID 2000 , Título: Ciência de dados , Categoria: Data Science

Curso ID 2001 , Título: Big Data Fundamentos , Categoria: Big Data

Curso ID 2002 , Título: Python Fundamentos , Categoria: Análise de Dados

In [42]:
recset =[(1003, 'Gestão de dados com MogoDb', 'Big Data'),
         (1004, 'R Fundamentos', 'Análise de dados')]

In [43]:
for rec in recset:
    cur.execute(sql_insert, rec)

In [44]:
conn.commit()

In [45]:
cur.execute(sql_select)
dados = cur.fetchall()

for linha in dados:
    print("Curso ID %d , Título: %s , Categoria: %s \n" % linha)

Curso ID 1000 , Título: Ciência de dados , Categoria: Data Science

Curso ID 1001 , Título: Big Data Fundamentos , Categoria: Big Data

Curso ID 1003 , Título: Gestão de dados com MogoDb , Categoria: Big Data

Curso ID 1004 , Título: R Fundamentos , Categoria: Análise de dados

Curso ID 2000 , Título: Ciência de dados , Categoria: Data Science

Curso ID 2001 , Título: Big Data Fundamentos , Categoria: Big Data

Curso ID 2002 , Título: Python Fundamentos , Categoria: Análise de Dados

In [46]:
conn.close()