<a href="https://colab.research.google.com/github/Matheusvfvitor/Py/blob/master/python_SQLite2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os 
os.remove("dsa.db") if os.path.exists("dsa.db") else None

In [0]:
import sqlite3
conn = sqlite3.connect("dsa.db")

In [0]:
c = conn.cursor()

In [0]:
#Criando função para criar tabela

def create_table():
  c.execute('CREATE TABLE IF NOT EXISTS produtoS(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT,' \
            'prod_name TEXT, valor REAL)')

In [0]:
#Criando função para inserir uma linha

def data_insert():
  c.execute("INSERT INTO produtos VALUES(10, '2018-05-02 14:32:11', 'Teclado', '90')")
  conn.commit()
  c.close()
  conn.close()

In [0]:
create_table()

In [0]:
data_insert()

In [0]:
import random
import time
import datetime

In [0]:
conn = sqlite3.connect("dsa.db")

In [0]:
c = conn.cursor()

In [0]:
def data_insert_var(prod_name):
  new_date = datetime.datetime.now()
  new_prod_name = prod_name
  new_value = random.randrange(50,100)
  c.execute("INSERT INTO produtos(date, prod_name, valor) VALUES (?,?,?)", (new_date, new_prod_name, new_value))
  conn.commit()

In [0]:
for i in range(10):
  val = "Valor número :"+ str(i)
  data_insert_var(val)
  time.sleep(1)

In [0]:
def search_all():
  sql_select = ("SELECT * from produtos")
  c.execute(sql_select)
  dados = c.fetchall()

  for dado in dados:
    print(" id: %d , data: %s, prod_name: %s, valor: %d\n " %dado)

In [28]:
search_all()

 id: 10 , data: 2018-05-02 14:32:11, prod_name: Teclado, valor: 90

 id: 11 , data: 2020-05-18 03:12:06.509457, prod_name: Valor número :0, valor: 81

 id: 12 , data: 2020-05-18 03:12:07.522935, prod_name: Valor número :1, valor: 93

 id: 13 , data: 2020-05-18 03:12:08.534603, prod_name: Valor número :2, valor: 71

 id: 14 , data: 2020-05-18 03:12:09.547265, prod_name: Valor número :3, valor: 92

 id: 15 , data: 2020-05-18 03:12:10.560662, prod_name: Valor número :4, valor: 76

 id: 16 , data: 2020-05-18 03:12:11.573638, prod_name: Valor número :5, valor: 62

 id: 17 , data: 2020-05-18 03:12:12.585487, prod_name: Valor número :6, valor: 64

 id: 18 , data: 2020-05-18 03:12:13.597679, prod_name: Valor número :7, valor: 92

 id: 19 , data: 2020-05-18 03:12:14.610442, prod_name: Valor número :8, valor: 54

 id: 20 , data: 2020-05-18 03:12:15.622895, prod_name: Valor número :9, valor: 61