<a href="https://colab.research.google.com/github/Matheusvfvitor/Py/blob/master/sqlite_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
import sqlite3

In [0]:
os.remove("escola.db")

In [0]:
conn = sqlite3.connect("escola.db")

In [32]:
type(conn)

sqlite3.Connection

In [0]:
cur = conn.cursor()

In [34]:
type(cur)

sqlite3.Cursor

In [0]:
sql_create ='create table cursos '\
            '(id integer primary key, titulo varchar(100), categoria varchar(140))'

In [36]:
cur.execute(sql_create)

In [0]:
sql_insert = 'insert into cursos values (?,?,?)'

In [0]:
recset =[(2000, 'Ciência de dados', 'Data Science'),
         (2001, 'Big Data Fundamentos', 'Big Data'),
         (2002, 'Python Fundamentos','Análise de Dados')]

In [0]:
for rec in recset:
    cur.execute(sql_insert, rec)

In [0]:
conn.commit()

In [0]:
sql_select = 'select * from cursos'

In [0]:
cur.execute(sql_select)
dados = cur.fetchall()

In [43]:
for linha in dados:
    print("Curso ID %d , Título: %s , Categoria: %s \n" % linha)

Curso ID 2000 , Título: Ciência de dados , Categoria: Data Science

Curso ID 2001 , Título: Big Data Fundamentos , Categoria: Big Data

Curso ID 2002 , Título: Python Fundamentos , Categoria: Análise de Dados

In [0]:
recset =[(1003, 'Gestão de dados com MogoDb', 'Big Data'),
         (1004, 'R Fundamentos', 'Análise de dados')]

In [45]:
for rec in recset:
    cur.execute(sql_insert, rec)

conn.commit()

cur.execute(sql_select)
dados = cur.fetchall()

for linha in dados:
    print("Curso ID %d , Título: %s , Categoria: %s \n" % linha)

Curso ID 1003 , Título: Gestão de dados com MogoDb , Categoria: Big Data

Curso ID 1004 , Título: R Fundamentos , Categoria: Análise de dados

Curso ID 2000 , Título: Ciência de dados , Categoria: Data Science

Curso ID 2001 , Título: Big Data Fundamentos , Categoria: Big Data

Curso ID 2002 , Título: Python Fundamentos , Categoria: Análise de Dados

In [0]:
conn.close()